<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>

<configuration>

    <logger name="nl.nubilus.mollie" level="INFO"/>
    <logger name="com.github.tomakehurst.wiremock" level="INFO"/>
    <logger name="org.springframework.boot.test" level="WARN"/>
    <logger name="ch.qos.logback.classic" level="WARN"/>

    <root>
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
